body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  font-size: 13px;
}
.clear { clear: both; }
#container { padding: 30px; width: 100%; }

path.depth1 {
    fill: rgb(60, 95, 164);
}

path.depth2.pr { fill: #0de3af; }
path.depth2.incí { fill: #64daf5; }
path.depth2.acdepr { fill: #fce367; }
path.depth2.inpú { fill: #2a6c91; }
path.depth2.asyco { fill: #7c47b5; }
path.depth2.c { fill: #7669f5; }

#tooltip {
  color: #222;
  background: #fff;
  padding: 10px;
}

.tooltip-titulo {
    text-transform: uppercase; 
    color: #666666;
    font-weight: bold;
    display: block;
    clear: right;
}

.tooltip-value {
    color: #333333;
    display: block;
    margin-bottom: 10px;
}

.tooltip-esc {
  text-align: right;
  cursor: pointer;
}

.checkbox label {
    min-height: 15px;
}